{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="site-abstract">
    <header>
        <h1><a href="{{url}}">{{title}}</a></h1>
    </header>
    <div class="abstract">
    {{excerpt words="26"}}
    </div>
    <footer>
        <time pubdate datetime="{{date format='YYYY-MM-DD'}}">{{date format='YYYY-MM-DD'}}</time>
        {{tags separator=", "}}
    </footer>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}

