<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>
  <body>
    <header class="site-header">
      <div class="brand"><a href="{{@blog.url}}">{{@blog.title}}</a></div>
      <nav>
        <ul>
          <li><a href="/">首页</a></li>
          <li><a href="/about">关于</a></li>
        </ul>
      </nav>
    </header>

    <div class="site-wrapper">
    {{! Everything else gets inserted here }}
    {{{body}}}
    </div>

    <footer class="site-footer">
      <p><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} | The <a href="https://github.com/stanzhai/CleanFlat">CleanFlat theme</a> is based on <a href="http://xingrz.me/">XiNGRZ's</a> works.</p>
      <p>版权所有 文章转载需保留出处 京ICP备14020638号</p>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript">
    $(document).ready(function (){
      var path = location.pathname;
      if (path[path.length - 1] == '/') {
        path = path.substring(0, path.length - 1);
      }
      $('nav li a[href="' + path + '"]').parent().addClass('active');
    });
    </script>
  </body>
</html>