{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<article class="site-content">
    <header>
        <h1>{{title}}</h1>
        <time pubdate datetime="{{date format='YYYY-MM-DD'}}">{{date format='YYYY-MM-DD'}}</time>
        <ul class="tags">
            <li><a href="/">{{tags separator=", "}}</a></li>
        </ul>
    </header>
    <div class="content">
    {{content}}
    </div>
    <footer>
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="57" data-title="{{title}}" data-url="{{url}}"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
        var duoshuoQuery = {short_name:"stanzhai"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->   
    </footer>
</article>
{{/post}}
